#pause-play-buttons {
  position: absolute;
  top: 0px;
  right: 70px;
  transform: translateX(50%);
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 2px;
}

#play-button {
  margin-right: 4px;
}

#demo {
  min-width: 800px;
  min-height: 800px;
}

#images-gallery {
  .dx-gallery-item-image {
    /*matching Gallery component height and width*/
    height: 450px !important;
    width: 600px !important;
  }
}

#pause-play-buttons:hover {
  /* matches the generic theme color*/
  border: 2px solid rgba(51, 122, 183, 1);
}

.thumbnail-image {
  height: 50px;
  width: 60px;
}

.dx-state-focused.dx-gallery {
  /*so only thumbnails have a colored border, not the main gallery image*/
  border-color: #ddd;
}

.dx-tab-selected:after {
  /*matches the generic theme color border when focused, so focused and selected tab have the same effect*/
  border-left: 1px solid rgba(51, 122, 183, 1) !important;
  border-right: 1px solid rgba(51, 122, 183, 1) !important;
  border-top: 1px solid rgba(51, 122, 183, 1) !important;
  border-bottom: 1px solid rgba(51, 122, 183, 1) !important;
}

.options {
  background-color: rgba(191, 191, 191, 0.4);
}
