#pause-play-buttons {
  position: absolute;
  top: 0px;
  right: 35px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 2px;
  z-index: 1501;
}

#play-button {
  margin-right: 4px;
}

#demo {
  min-width: 800px;
  min-height: 800px;
}

#images-gallery .dx-gallery-item-image {
  /*matching Gallery component height and width*/
  height: 450px !important;
  width: 600px !important;
}

#pause-play-buttons:hover {
  /* matches the generic theme color*/
  border: 2px solid rgba(51, 122, 183, 1);
}

.dx-item.dx-tab {
  padding-left: 6px !important;
  padding-right: 6px !important;
  padding-top: 6px !important;
  padding-bottom: 0px !important;
}

.thumbnail-image {
  height: 55px;
  width: 65px;
}

.dx-state-focused.dx-gallery {
  /*so only thumbnails have a colored border, not the main gallery image*/
  border-color: #ddd;
}

.dx-tab-selected:after {
  /*matches the generic theme color border when focused, so focused and selected tab have the same effect*/
  border-left: 2px solid rgba(51, 122, 183, 1) !important;
  border-right: 2px solid rgba(51, 122, 183, 1) !important;
  border-top: 2px solid rgba(51, 122, 183, 1) !important;
  border-bottom: 2px solid rgba(51, 122, 183, 1) !important;
}
